* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#disk {
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  background: #f7f7f7;
}

#disk header {
  width: 100%;
  height: 1.49rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#disk header p {
  height: .9rem;
  display: flex;
}

#disk header p:nth-child(1) {
  width: 1.49rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#disk header p:nth-child(1) i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: .93rem;
  height: .93rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: #999999;
}

#disk header p:nth-child(2) {
  width: 8.84rem;
  background: rgba(255, 255, 255, 0.7);
  border-radius: .32rem;
}

#disk header p:nth-child(2) input {
  background: none;
  outline: none;
  border: none;
}

#disk header p:nth-child(2) i {
  width: .93rem;
  height: .93rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#disk .swiper {
  width: 100%;
  height: 4.66rem;
  background: pink;
}

#disk .swiper .cover {
  width: 100%;
  height: 100%;
}

#disk .swiper .cover .img {
  width: 100%;
  height: 100%;
}

#disk .swiper .cover .img img {
  width: 100%;
  height: 100%;
}

#disk .body {
  width: 100%;
  height: auto;
  background: white;
  border-radius: .2rem;
  position: relative;
  top: -.24rem;
  left: 0;
  z-index: 7;
}

#disk .body ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#disk .body ul li {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .59rem 0;
  flex-shrink: 0;
}

#disk .body ul li i {
  display: inline-block;
  width: 1.08rem;
  height: 1.08rem;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#disk .body ul li span {
  font-size: .4rem;
}

#disk .vimg {
  width: 100%;
  height: 3.15rem;
}

#disk .vimg img {
  width: 100%;
  height: 100%;
}

#disk .valt {
  width: 100%;
  height: auto;
}

#disk .valt .sosho {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

#disk .valt .sosho .left {
  width: 2.21rem;
  height: 2.99rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#disk .valt .sosho .left p:nth-child(1) {
  font-size: .63rem;
}

#disk .valt .sosho .left p:nth-child(2) {
  font-size: .28rem;
}

#disk .valt .sosho .left span {
  width: .92rem;
  height: .46rem;
  display: inline-block;
  background: linear-gradient(to right, red, orange);
  text-align: center;
  line-height: .46rem;
  font-weight: bold;
  color: white;
  border-radius: .22rem;
  font-size: .3rem;
  margin: .2rem;
}

#disk .valt .sosho .mid {
  width: 6.67rem;
  height: 2.82rem;
  background: white;
  display: flex;
  flex-direction: row;
  border-radius: .3rem;
}

#disk .valt .sosho .mid div {
  width: 3.65rem;
  display: flex;
  flex-direction: column;
}

#disk .valt .sosho .mid div p:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .38rem;
  line-height: 1.24rem;
}

#disk .valt .sosho .mid div p:nth-child(1) span {
  display: inline-block;
  width: .6rem;
  height: .6rem;
  display: flex;
  margin-right: .2rem;
}

#disk .valt .sosho .mid div p:nth-child(1) span img {
  width: 100%;
  height: 100%;
}

#disk .valt .sosho .mid div p:nth-child(2) {
  font-size: .33rem;
  padding: .2rem;
}

#disk .valt .sosho .mid div p:nth-child(2) i {
  font-size: .3rem;
  font-weight: bold;
  color: #cccccc;
}

#disk .valt .sosho .mid dt {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#disk .valt .sosho .mid dt img {
  width: 2.28rem;
  height: 2.25rem;
}

#disk footer {
  width: 100%;
  height: 1.47rem;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}

#disk footer li {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#disk footer li i {
  width: .59rem;
  height: .52rem;
  display: inline-block;
}

#disk footer li span {
  font-size: .4rem;
}
